@page
@model TwoFactorModel
@{
}


<header>
    <h1 class="text-danger">Requires two factors.</h1>
    <p class="text-danger">This account requires two factor validation, please try again later.</p>
    <p><a class="btn btn-default" asp-page="/Account/Login">Back</a></p>
</header>